
     <div class="varecorderouter" style="width:{{width}}px; height:{{height}}px">

	        <div  id="videorecorder" class="videosection"  >
				<video id="viredemovideoele" width="{{width}}px"; height="{{height}}px" ></video>  
				<div ng-if="recordingonly" class="messageaboutrec">
					<div class="recordicon"></div>
					<div class="countdownvlaue">{{vicountervalue}}</div>
				</div>

				<div ng-if="loadingimageshow" class="loadingiconwrap">
						<div class="loadingicondata"></div>
				</div>

			</div>
			<div class="buttonssection">
				<div class="virecbutton" ng-if="videoready"  ng-click="startRecrodBut1()"  >Start</div>
				<div class="virecbutton"  ng-if="videoready" ng-click="stopRecBut1()" 	ng-class="recordingstarted ? 'videoisbeingrecorded' : '' " >Stop</div>
				<div class="virecbutton" ng-if="videoready" ng-click="playback()" >Play</div>
				<div class="virecbutton" ng-if="videoready" ng-click="clearrecording()"  >Clear</div>
				<div class="virecbutton" ng-if="videoready" ng-click="uploadrecord()" ng-class="videoisavailabletoplay ? 'canuploadvideo' : ''" >Upload</div>
	       	
		        <div ng-if="uploadpresentage" class="uploadloadingscreen" >
		        	<div class="chilcuploadscreen">{{uploadpresentage}}%</div>
					<div class="childloadinicon">
						<div  class="loadingiconwrap">
							<div class="loadingicondata16"></div>
						</div>
					</div>
		        </div>
	        </div>
   </div>
